/* Estilos CSS personalizados para o quiz */

#quiz-container {
    text-align: center;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;
   
/* From https://css.glass */
background: rgba(243, 202, 242, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(243, 202, 242, 0.85);
}

h1 {
    color: #333;
    font-size:30px
}

.option {
    padding: 20px 20px;
    margin: 5px;
    background-color: #f587d4;
    color: rgb(61, 58, 58);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size:20px;
}

.option:hover {
    background-color: #e78ff3;
}

#score {
    font-weight: bold;
}
#question-container {
    font-size:28px;
    color: #333;
}
body {
    background-image: url('cidade.jpg');
    background-size: cover; /* Para dimensionar a imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Para evitar a repetição da imagem */
}
